<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/commonstyle.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="container">
        <% 
        const displayedCourses = new Set(); 
        %>
        
        <% if (courses.length > 0) { %>
            <% courses.forEach(course => { %>
                <% const courseKey = `${course.name}-${course.domain}`; %>
                <% if (!displayedCourses.has(courseKey)) { %>
                    <% displayedCourses.add(courseKey); %>
                    <h2><a href="/courses/<%= course.name %>"><%= course.name %></a></h2>
                <% } %>
            <% }) %>
        <% } else { %>
            <p>No courses found.</p>
        <% } %>
        
  </div>
</body>
</html>