<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/domainstyle.css">
    <title>Domains</title>
</head>
<body>
    <div>
        <a href="/common?domain=cse"><button class="glow-on-hover" type="button">Computer Science Engineering</button></a><br> <br>
        <a href="/common?domain=ece"><button class="glow-on-hover" type="button">Electronical and Communicational Engineering</button></a><br> <br>
        <a href="/common?domain=civil"><button class="glow-on-hover" type="button">Civil Engineering</button></a><br> <br>
        <a href="/common?domain=eee"><button class="glow-on-hover" type="button">Electrical and Electronics Engineering</button></a><br> <br>
        <a href="/common?domain=mech"><button class="glow-on-hover" type="button">Mechanical Engineering</button></a>
    </div>
</body>
</html>