<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="video-gallery">
        <% Videos.forEach(video => { %>
          <div class="video-item">
            <a href="/video/<%= video._id %>">
              <img src="<%= video.thumbnail %>" alt="<%= video.title %>" />
            </a>
            <h3><%= video.title %></h3>
          </div>
        <% }); %>
      </div>      
</body>
</html>